---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10">
    My name is Carlos Barahona, I'm passionate about software engineering and
    experience crafting and sustaining dynamic web applications using frameworks
    including ReactJS, VueJs, and NodeJS. Eager to contribute to a vibrant team,
    where we can all learn new things from each other while creating quality
    products.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Work Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
    title="Senior Software Engineer II"
    subtitle="Current Job at Intech Ideas International"
  >
    <!-- As a software engineer at Cal Technology Solutions, my accomplishments
    include:
    <ul class="list-disc mx-6 mb-5 grid gap-2">
      <li>
        Leading optimization initiatives for backend APIs and frontend
        components and ensuring codebase robustness.
      </li>
      <li>
        Architecting AWS infrastructure to facilitate application deployment,
        leveraging AWS technologies such as EC2, S3, and Code Commit.
      </li>
      <li>
        Developing an internal library for integrations with Microsoft
        SharePoint.
      </li>
    </ul> -->
  </TimeLineElement>
    <TimeLineElement
      title="Senior Software Engineer"
      subtitle="From 07/2023 to 07/2024 at Cal Technology Solutions"
    >
      As a software engineer at Cal Technology Solutions, my accomplishments
      include:
      <ul class="list-disc mx-6 mb-5 grid gap-2">
        <li>
          Leading optimization initiatives for backend APIs and frontend
          components and ensuring codebase robustness.
        </li>
        <li>
          Architecting AWS infrastructure to facilitate application deployment,
          leveraging AWS technologies such as EC2, S3, and Code Commit.
        </li>
        <li>
          Developing an internal library for integrations with Microsoft
          SharePoint.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Web Developer/ Marketing Assistant"
      subtitle="From 04/2021 to 06/2023 at Live and Invest Overseas"
    >
      <ul class="list-disc mx-6 mb-5 grid gap-2">
        <li>
          Developed and maintained web pages and applications, resulting in
          increased user engagement.
        </li>
        <li>
          Implemented new features written with javascript, increasing user
          engagement.
        </li>
        <li>
          Optimized website performance, resulting in a 80% decrease in page
          load time.
        </li>
        <li>
          Improved website accessibility by implementing responsive design,
          increasing mobile traffic.
        </li>
        <li>
          Developed automatic excel reports using macros and complex formulas.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Risk Analyst/GPS Analyst"
      subtitle="From 04/2018 to 03/2021 at Si Panama"
    >
      Outsourced as data analyst for Cable&Wireless Panama.
      <ul class="list-disc mx-6 mb-5 grid gap-2">
        <li>
          Managed and reported on 600+ GPS Devices with an average of 900 daily
          records per device.
        </li>
        <li>
          Developed and implemented new reports that allowed for a better use of
          the company's assets.
        </li>
        <li>
          Implemented a geofencing technology that allowed the company to mark
          coordinates of interest and have live feedback and reporting from
          those locations.
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-5">
    <TimeLineElement
      title="Software Development degree"
      subtitle="2019 to 2024 at Universidad Tecnologica de Panama, Panama City, Panama"
    />
    <!-- <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    /> -->
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.freecodecamp.org/certification/KrlosDev/javascript-algorithms-and-data-structures-v8" target="_blank"> Javascript algorithms and data structures - FreeCodeCamp</a>
    </li>
    <li>
      <a href="https://www.freecodecamp.org/certification/KrlosDev/responsive-web-design" target="_blank"> Responsive Web Design - FreeCodeCamp</a>
    </li>
    <li>
       Leadership training program - Maxwell Lidership
    </li>
  </ul>
<!-- 
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul> -->
</BaseLayout>
