---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import ecommereceImg from "../images/e-commerce.png";
import ztokImg from "../images/ztok.png";
import theForgeImg from "../images/the_forge.png";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hello there 👋</div>
    <div class="text-5xl font-bold">I'm Carlos Barahona</div>
    <div class="py-2 max-w-[740px]">
      <text class="text-lg">
        With over 5 years of hands-on experience, I'm a <b class="text-success"
          >Software Engineer</b
        >
        located in Panama 🇵🇦. My expertise lies in crafting outstanding digital experiences,
        blending both development and design skills to deliver exceptional results.
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn btn-success btn-outline"
        href="https://www.linkedin.com/in/carlosabh/"
        target="_blank"
      >
        Let's connect!</a
      >
      <a
        href="/CarlosBarahona_cv.pdf"
        target="_blank"
        class="btn btn-outline ml-5"
      >
        Download CV
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">
      Lastest projects {"</>"}
    </div>
  </div>
  <HorizontalCard
    title="The Forge Fitness App"
    img={theForgeImg}
    text="A modern, full-featured fitness application for creating and tracking workout routines. Built with React, Vite, and Supabase for a seamless training experience."
    url="https://github.com/KrlosDev/BecomeSaiyan"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="E-Commerce Platform"
    img={ecommereceImg}
    text="E-Commerce platform built with the MERN stack & Redux. It includes a full-featured shopping cart with PayPal & credit/debit payments."
    url="https://github.com/KrlosDev/customKicks_v2_paypal"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="ZTOK Theme"
    img={ztokImg}
    text="A Visual Estudio Code theme is designed to provide a visually appealing and comfortable coding environment with a mix of earthy ochers and calming greens inspired in The legend of zelda tears of the kingdom."
    url="https://github.com/KrlosDev/ztok"
  />
  <div class="divider my-0"></div>
</BaseLayout>
