---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="inline opacity-75">

      &copy; {today.getFullYear()}
     Developed by <a href="https://github.com/KrlosDev" target="_blank" class="font-bold">Carlos Barahona</a> using Astro
     <img loading="lazy" src="favicon.svg" alt="icon" class="inline-block w-4 h-4">
  </div>
</footer>
