---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "text-success"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto flex lg:flex-row">
    <li><a class="py-3 text-base" id="home" href="/"><b>Home</b></a></li>
    <li><a class="py-3 text-base" id="projects" href="/projects"><b>Projects</b></a></li>
    <li><a class="py-3 text-base" id="cv" href="/cv"><b>About me</b></a></li>
    <li>
        <a
            class="py-3 text-base"
            href="mailto:krlos.abarahona@gmail.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade"><b>Contact</b></a
        >
    </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
